<div class="thumbnail">
  <div class="caption">
    <h3>{{c.name}}</h3>
  </div>
  <hr>
  <div class="actions">
    <div class="right">
      {{ link-to 'Ver' 'concesses.show' c }}
    </div>
    <p>{{c.comments.length}} Comments</p>
  </div>
</div>

