{{!-- The following component displays Ember's default welcome message. --}}

<div id="wrapper">
  <!-- Sidebar -->
  <div id="sidebar-wrapper">
    <ul class="sidebar-nav">
      <li class="sidebar-brand">
        <a href="#">
          Concess App
        </a>
      </li>
      <li>
        {{link-to 'Home' 'application' }}
      </li>
      <li>
        {{link-to 'Concesionarios' 'concesses' }}
      </li>
      <li>
        {{link-to 'Vehiculos' 'vehicles' }}
      </li>
      <li>
        
      </li>
    </ul>
  </div>
  <div id="page-content-wrapper">
    <div class="container-fluid">
      <div class="navbar navbar-default">
        <div class="container-fluid">
          <div class="navbar-header">
            {{!-- <a href="#menu-toggle" class="btn btn-secondary" id="menu-toggle">Toggle Menu</a> --}}
            <div class="navTrigger" id="menu-toggle">
              <i></i>
              <i></i>
              <i></i>
            </div>
          </div>
          <form class="navbar-form navbar-right right" role="search">
            <div class="form-group">
              <input type="text" class="form-control" placeholder="Search">
            </div>
            <button class="btn btn-default"><i class="fa fa-search"></i></button>
            
          </form>
          
          <div class="navbar-collapse collapse" id="navbar">
            {{!-- <ul class="navbar-right nav navbar-nav">
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-fw fa-bell-o"></i> Bildirimler <span class="badge">0</span></a>
                <ul class="dropdown-menu" role="menu">
                  <li class="dropdown-header">No message.</li>
                </ul>
              </li>
            </ul> --}}
          </div>
        </div>
      </div>
      {{liquid-outlet}}
    </div>
  </div>
</div>

    <!-- Menu Toggle Script -->
<script>
  $("#menu-toggle, .sidebar-nav li").click(function(e) {
    $("#wrapper").toggleClass("toggled");
  });
  $('.navTrigger, .sidebar-nav li').click(function(){
    $(".navTrigger").toggleClass('active');
  });
</script>

<style>
  h1{
    margin-top: 0;
  }
  .glyphicon{
    padding: 0 5px;
  }
  .actions{
    padding: 0 10px;
  }
  .right{
    float: right; 
  }
  .side-menu li{
    color: #FFF;
    text-decoration: none;
    margin-top: 15%;
    list-style: none;
  }
  .row{
    width: 100%;
  }
</style>
